@use "../scss/variables.scss" as *;

.apartment-page {
    color: $color-primary;
    padding: 0 1rem;
}
 .apartment_description_area  {
    display:flex;
    gap:2rem;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    @media screen and (width <= 768px){
        flex-direction:column;
        gap:0;
    }

}