@use "../scss/variables.scss" as *;

.apartment-page {
    color: $color-primary;
 /*     padding: 0 1rem;Ajout de marges sur les côtés */
   
.apartment_description_area  {
    display: flex;
    gap:1rem;
}
}
