@use "../scss/variables.scss" as *;


.apartment_description{
    p{
        margin-block: 0;
        word-wrap: break-word;
        }

    .description_header{
        background-color: $color-primary;
        color:$color-tertiary;
        padding:0.2em 1rem;   
        border-radius: 0.7rem;
        display:flex;
        align-items: center;
        justify-content: space-between;
        i {
            font-size: 1.5rem;
            cursor: pointer;
        }
     }
    }       
    .description_content{
        background-color:$list-background;
        color:$color-secondary;
        padding: 1rem;
        border-radius:0.7rem ;
        position:relative;
        top:-0.3rem;
        z-index: -1;
       
    }

