

.list {
    border: 1px solid;
    background-color: #F6F6F6;
    margin-top: 1rem;
    border-radius: 2rem;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    justify-content: space-between;
    padding:1rem;
    @media screen and (max-width: 768px) {
        background-color: white;
        gap:0.2rem;
        // flex-basis: 100%;
    }

    margin-bottom: 2rem; /* Ajout d'une marge inférieure pour éviter le chevauchement avec le footer */
}
