

.list{
    border: 3px solid orange;
    background-color:#F6F6F6;
    margin-top: 2rem;
    border-radius: 2rem;
    min-height: 50Vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content:space-between
    

}

@media screen and (max-width: 768px) {
    .list{
        background-color: hsl(237, 52%, 51%);
    }
}
