
@use "../scss/variables.scss" as *;
body {
    font-family: Montserrat;
    font-weight: 500; 
    max-width: 1200px;
    margin:1rem auto 0 auto ;        
    }
    


.main {
    min-height:100%;   
    padding-inline: 1rem;
    overflow: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap:1rem;
  }
    @media screen and (max-width: 768px) {
        .main {
           padding-inline: 0.5rem;
          
        }
    } 
