 body{
    border: 5px solid rgb(128, 255, 0); 

    font-family: Montserrat;
    font-weight: 700;
    .main {
      border: 5px purple solid ;
      padding: 2rem;
     min-height:60VH;
      }
 }
 