
@use "../scss/variables.scss" as *;

.description_panel {
  margin-top: 2rem;
  flex-basis: 50%;

  p {
    margin-block: 0;
  }

  .description_header {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 1.5rem;
      cursor: pointer;
      transition: transform 0.3s ease;
      transform: rotate(0deg); // Rotation initiale
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }
  }
}

.description_content {
  background-color: $list-background;
  color: $color-secondary;
  padding: 1rem;
  border-radius: 0.7rem;
  position: relative;
  top: -0.3rem;
  z-index: -1;
}
