@use"../scss/variables" as *;
.image_banner{
    margin-bottom: 1rem;
    position: relative;
    .btn{
        position:absolute;
        top:0;
        bottom: 0;
        width: 5rem;
        background-color: transparent;
        cursor: pointer;
        color: $color-tertiary;
        font-size: 5rem;
        border-width: 0;
        &:active,
        &:focus{
            outline:none;
        }
        &.btn-next{
            left:0
        }
        &.btn-previous{
            right:0
        }
    }
    .image_container { 
        position:relative;
        height: 50vh;
        width: 100%;
        border-radius: 1rem;
            img {
                margin: 0 auto; /* Pour centrer l'image */
                width: 100%; /* Pour occuper la largeur de l'écran */
                height: 100%;
                position: absolute;
                inset:0;
                object-fit: cover;
                border-radius: 1rem;
                box-shadow:$shadow-effect;
                opacity:0;
                transition: ease-in-out;
                transition-duration: 0.5s;
                &.show {
                    opacity:1;
                }
                // @media screen and (width <= 768px){
                //     min-height: 20rem;
             
                // }
    }
    }
}

    