.navbar {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: black;
  font-weight: 700;
  gap:1rem;
  border: 1px solid orange;
  margin-bottom: 2rem;
 
  @media screen and (width <= 768px){
    text-transform:uppercase;
    }

  & a {
    text-decoration: none;
    color:black; 
    &:hover{
    text-decoration: underline;
      }
    }
}
.navbar_logo{
  margin-right: auto;
  width:17%;/* je me base sur les dim reel du logo comparé a la taille réel de la div en mode desktop est ce que c'est correct ?  */
  height:auto;
  & img {
    width: 210.32px; 
    height: 60px;
  }
  
}








