$color-primary: #ff6060;
$color-secondary: black;
$color-tertiary: white;
$color-off: #e3e3e3;
$list-background: #f6f6f6;
$list-background-responsive: white;
$footer-background: black;
$shadow-effect: rgb(149 157 165 / 20%) 0px 8px 24px;
