.banner {
    position: relative;
    min-height: 223px; /* Hauteur de la bannière */
    max-width:100%;
    background-image: url("../assets/eric-muhr.jpg");
    background-position: center; 
    color: white; 
    margin:auto;
    border-radius: 1rem; 
    display: grid;
    place-items: center;
    @media screen and (max-width: 768px) {
        min-height: 30vw; /* Utilisation de viewport width pour définir la hauteur en responsive */

    }

    &::before {
        content: ""; /* Contenu du pseudo-élément */
        position: absolute; /* Position absolue pour se superposer à la bannière */
       inset: 0;
        width: 100%; /* Largeur de la bannière */
        height: 100%; /* Hauteur de la bannière */
        background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond noire semi-transparente */
        border-radius: 1rem; /* Ajout du même bord arrondi à mon overlay */
    }

    & h2 { 
        font-size: 48px;
        font-weight: 500;
        text-shadow: 2px 2px 0 black; /* Contour noir */
        position: relative;
        text-align: center;
        z-index: 1; /* Z-index pour empêcher que le texte ne soit caché par l'overlay */
        
        @media screen and (max-width: 768px) {
            text-align: left;
            padding-left: 1rem;
            -webkit-line-clamp: 2; /* Limiter le texte à deux lignes */
            -webkit-box-orient: vertical; /* Orienté verticalement */
            overflow: hidden; /* Cacher tout le texte qui dépasse les deux lignes */
            font-size: 5vw;
            max-width :100%
            & span {
                display: block; /* Afficher sur une ligne distincte */
                white-space: nowrap; /* Empêcher le texte de passer à la ligne */
            }
        }
    }
}
